### Import the necessary liberaries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from datetime import datetime 

# from load_data import load_csv
%matplotlib inline

### Load the datasets

In [3]:
# load the benin Solar Radiation Measurement Data into a DataFrame

benin_df = pd.read_csv('../src/data/benin-malanville.csv')
sierrleone_df = pd.read_csv('../src/data/sierraleone-bumbuna.csv')
togo_df = pd.read_csv('../src/data/togo-dapaong_qc.csv')

In [3]:
# check that you have loaded the data correctly by displaying the head of the DataFrames.

benin_df.head(5)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [4]:
benin_df.tail(5)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

In [5]:
benin_df.shape

(525600, 19)

In [6]:
sierrleone_df.head(5)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

In [7]:
sierrleone_df.shape

(525600, 19)

In [8]:
togo_df.head(5)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

In [9]:
togo_df.shape

(525600, 19)

**View basic information about the datasets**

 >Get an overview of the dataset, including the number of rows and columns.

In [4]:
print(benin_df.dtypes)
print(sierrleone_df.dtypes)
print(togo_df.dtypes)

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object
Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object
Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

### Data Cleaning

**Handle Missing Values**

> Identify missing values and decide how to handle them (e.g., imputation, removal)

In [5]:
print(benin_df['Comments'].isnull().sum())

print(sierrleone_df['Comments'].isnull().sum())

print(togo_df['Comments'].isnull().sum())

525600
525600
525600

In [6]:
# Drop the null column : Comments
benin_df.drop('Comments', axis=1, inplace=True)
sierrleone_df.drop('Comments', axis=1, inplace=True)
togo_df.drop('Comments', axis=1, inplace=True)

**Check for Duplicates:** 

>Identify and remove duplicate rows if necessary.

In [7]:
print(benin_df.duplicated().sum(), sierrleone_df.duplicated().sum(), togo_df.duplicated().sum())

0 0 0

In [8]:
# Convert the 'Timestamp' column to datetime format for benin Dataframe
benin_df['Timestamp'] = pd.to_datetime(benin_df['Timestamp'])

# Extract only the date part (year/month/day)
benin_df['Date'] = benin_df['Timestamp'].dt.date

# Drop the original Timestamp column
benin_df.drop('Timestamp', axis=1, inplace=True)

# Reorder columns to place 'Date' where 'Timestamp' was
current_order = benin_df.columns.tolist()
new_order = ['Date'] + [col for col in current_order if col != 'Date']
benin_df = benin_df[new_order]

benin_df.head(5)

,Date,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
0,2021-08-09,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2
1,2021-08-09,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2
2,2021-08-09,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2
3,2021-08-09,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3
4,2021-08-09,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3

In [9]:
# benin_df.head(5)
# benin_df.info()
print(type(benin_df['Date']))
benin_df.dtypes

<class 'pandas.core.series.Series'>

Date              object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
dtype: object

### Summary Statistics

In [11]:
# Calculate summary statistics for all numeric columns
summary_statistics = benin_df.describe().T
summary_statistics

,count,mean,std,min,25%,50%,75%,max
GHI,525600.0,240.559452,331.131327,-12.9,-2.0,1.8,483.4,1413.0
DNI,525600.0,167.187516,261.710501,-7.8,-0.5,-0.1,314.2,952.3
DHI,525600.0,115.358961,158.691074,-12.6,-2.1,1.6,216.3,759.2
ModA,525600.0,236.589496,326.894859,0.0,0.0,4.5,463.7,1342.3
ModB,525600.0,228.883576,316.536515,0.0,0.0,4.3,447.9,1342.3
Tamb,525600.0,28.179683,5.924297,11.0,24.2,28.0,32.3,43.8
RH,525600.0,54.487969,28.073069,2.1,28.8,55.1,80.1,100.0
WS,525600.0,2.121113,1.603466,0.0,1.0,1.9,3.1,19.5
WSgust,525600.0,2.809195,2.029120,0.0,1.3,2.6,4.1,26.6
WSstdev,525600.0,0.473390,0.273395,0.0,0.4,0.5,0.6,4.2
WD,525600.0,153.435172,102.332842,0.0,59.0,181.0,235.1,360.0
WDstdev,525600.0,8.582407,6.385864,0.0,3.7,8.6,12.3,99.4
BP,525600.0,994.197199,2.474993,985.0,993.0,994.0,996.0,1003.0
Cleaning,525600.0,0.000923,0.030363,0.0,0.0,0.0,0.0,1.0
Precipitation,525600.0,0.001905,0.037115,0.0,0.0,0.0,0.0,2.5
TModA,525600.0,35.246026,14.807258,9.0,24.2,30.0,46.9,81.0
TModB,525600.0,32.471736,12.348743,8.1,23.6,28.9,41.5,72.5

In [13]:
# Additional statistics
num_benin_df = benin_df.select_dtypes(include=['number'])  # Select only numeric columns
summary_statistics['median'] = num_benin_df.median()
summary_statistics['mode'] = num_benin_df.mode().iloc[0]  # Mode (first mode if there are multiple)
summary_statistics['variance'] = num_benin_df.var()  # Variance
summary_statistics['range'] = num_benin_df.max() - num_benin_df.min()  # Range
summary_statistics['skewness'] = num_benin_df.skew()  # Skewness
summary_statistics['kurtosis'] = num_benin_df.kurt()  # Kurtosis

# Display the summary statistics
print("\nSummary Statistics:\n", summary_statistics)

Summary Statistics:
                   count        mean         std    min    25%    50%    75%  \
GHI            525600.0  240.559452  331.131327  -12.9   -2.0    1.8  483.4
DNI            525600.0  167.187516  261.710501   -7.8   -0.5   -0.1  314.2
DHI            525600.0  115.358961  158.691074  -12.6   -2.1    1.6  216.3
ModA           525600.0  236.589496  326.894859    0.0    0.0    4.5  463.7
ModB           525600.0  228.883576  316.536515    0.0    0.0    4.3  447.9
Tamb           525600.0   28.179683    5.924297   11.0   24.2   28.0   32.3
RH             525600.0   54.487969   28.073069    2.1   28.8   55.1   80.1
WS             525600.0    2.121113    1.603466    0.0    1.0    1.9    3.1
WSgust         525600.0    2.809195    2.029120    0.0    1.3    2.6    4.1
WSstdev        525600.0    0.473390    0.273395    0.0    0.4    0.5    0.6
WD             525600.0  153.435172  102.332842    0.0   59.0  181.0  235.1
WDstdev        525600.0    8.582407    6.385864    0.0    3.7    8.6   12.3
BP             525600.0  994.197199    2.474993  985.0  993.0  994.0  996.0
Cleaning       525600.0    0.000923    0.030363    0.0    0.0    0.0    0.0
Precipitation  525600.0    0.001905    0.037115    0.0    0.0    0.0    0.0
TModA          525600.0   35.246026   14.807258    9.0   24.2   30.0   46.9
TModB          525600.0   32.471736   12.348743    8.1   23.6   28.9   41.5

                  max  median   mode       variance   range   skewness  \
GHI            1413.0     1.8   -1.5  109647.955903  1425.9   1.028446
DNI             952.3    -0.1   -0.3   68492.386135   960.1   1.290260
DHI             759.2     1.6   -1.4   25182.856923   771.8   1.210406
ModA           1342.3     4.5    0.0  106860.248523  1342.3   1.067416
ModB           1342.3     4.3    0.0  100195.365569  1342.3   1.076031
Tamb             43.8    28.0   24.9      35.097295    32.8   0.000512
RH              100.0    55.1  100.0     788.097191    97.9  -0.026653
WS               19.5     1.9    0.0       2.571103    19.5   0.868406
WSgust           26.6     2.6    0.0       4.117327    26.6   0.928908
WSstdev           4.2     0.5    0.4       0.074745     4.2   0.695449
WD              360.0   181.0    0.0   10472.010561   360.0  -0.084974
WDstdev          99.4     8.6    0.0      40.779260    99.4   1.070081
BP             1003.0   994.0  995.0       6.125591    18.0  -0.263995
Cleaning          1.0     0.0    0.0       0.000922     1.0  32.874282
Precipitation     2.5     0.0    0.0       0.001378     2.5  34.620445
TModA            81.0    30.0   23.9     219.254876    72.0   0.677442
TModB            72.5    28.9   25.1     152.491463    64.4   0.616822

                  kurtosis
GHI              -0.460184
DNI               0.172956
DHI               0.498993
ModA             -0.387674
ModB             -0.351332
Tamb             -0.444624
RH               -1.298555
WS                1.579008
WSgust            1.942468
WSstdev           3.348514
WD               -1.255899
WDstdev           4.654392
BP               -0.063902
Cleaning       1078.722537
Precipitation  1518.289300
TModA            -0.581054
TModB            -0.443101

### Data Quality Check